{{ define `main` }}
<main>
  <!-- Author h-card -->
  {{ $authorFile := .Site.Params.me | default .Site.Data.theme.defaults.me }}
  {{ $author := index .Site.Data.people $authorFile }}
  {{ with $author }}{{ partial `author-card.html` . }}{{ end }}

  <!-- Latest Content -->
  {{ $paginator := .Paginate (and (where .Site.Pages `Section` `note`) (where .Site.Pages `Kind` `page`)) }}

  {{ partial `paginator.html` . }}

  {{ range $paginator.Pages }}
  {{ partial `summary.html` . }}
  {{ end }}

  {{ partial `paginator.html` . }}
</main>
{{ end }}
